<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
<!--  <app-cockpit
    (serverCreated) = "onServerAdded($event)"
    (blueprintCreated) = "onBlueprintAdded($event)"
  ></app-cockpit>-->
  <div class="row">
    <div class="col-xs-12">
      <app-recipes *ngIf="loadedFeature === 'recipe' "></app-recipes>
      <app-shopping-list *ngIf="loadedFeature === 'shopping-list' "></app-shopping-list>
      <app-password-flow-login *ngIf="loadedFeature === 'login' "></app-password-flow-login>

      <!--      <app-server-element  *ngFor="let serverElement of serverElements"
                   [srvElement]="serverElement"></app-server-element>-->
    </div>
  </div>
</div>

